*{
    margin: 0px;
    padding: 0xx;
    box-sizing: border-box;
    text-align: center;
}

body{
    width: 100vw;
    height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(-45deg, var(--bgcolorA) 0%, var(--bgcolorB) 100%);
}

.header{
    width: 100%;
    height: auto;
    font-size: 4vw;
    letter-spacing: 1vw;
    word-spacing: 2vw;
}

.main{
    width: 100%;
    height: auto;    
    border: 1px solid black;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6em;
    flex-wrap: wrap;
}

.main a{
    width: 20%;
    height: 20em;
    border: 1px solid black;
}
