*{
    margin: 0px;
    padding: 0xx;   
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;   
}

.header{
    width: 100%;
    height: 10%;
    font-size: 4vw;
    letter-spacing: 1vw;
    word-spacing: 2vw;
    text-align: center;
}

.text{
    font-size: 1.2em;
}

#showCode{
    height: 70%;
    padding: 0em 1.5em;
}

.functionBar{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.box{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    padding: 0.7em;
    gap: 1em;
    text-align: center;
}

.innerbox{
    border-radius: 1em;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.innerbox select{
    height: 70%;
    text-align: center;
}

#parameter{
    border: 0px;
}

input{
    text-align: left;
}

.statusbar{
    width: 100%;
    height: auto;
    padding: 0.6em;
    border: 1px solid;
    display: flex;  
    text-align: center;
}

.button{
    width: 30%;
    height: 100%;
    border-right: 1px solid;
}

.execution{
    width: 70%;
    height: 100%;
}

.status{
    height: 100%;
    width: 70%;
    font-size: 120%;
    transition: all 0.3s;
}

.main{
    width: 100%;
    height: 75%;    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    position: relative;
    padding: 5em 1em;
}

#linkedlist{
    width: 100%;    
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 1em; 
}

#linkedlist .row{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.node{
    min-width: 5em;
    min-height: 5em;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 2em;  
    transition: all 0.25s;
}

.null{
    min-width: 8%;
    border: 0px;
}

#close{
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translateX(-100%);
    background-color: red;
    color: white;
    border: 0px;
    text-align: center;
}

#background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(3px);
    display: flex;    
    align-items: center;
    justify-content: center; 
    visibility: hidden;   
}

#code{
    width: auto;
    height: 70%;
    background-color: whitesmoke;
    /* padding: 2em; */
    font-size: 1.3em;
    border: 1px solid;
    overflow-y: scroll;
}

.fade-In {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

.current{
    /* animation: current 0.25s linear; */
    transform: scale(1.2);
    background-color: black;
    color: white;
}

@keyframes current {
    0% {
        transform: scale(1);
        background-color: transparent;        
        color: black;        
    }
    90% {
        transform: scale(1.2);
        background-color: black;
        color: white;        
    }
    100%{
        transform: scale(1);
        background-color: transparent;
        color: black;        
    }
}

.statusBlink{
    transform: scale(1.2);
}